.section {
	.container--padding {
		padding: multiply($gutter, 4) multiply($gutter, 2);

		@media (min-width: #{$xl}) {
			padding-left: 25%;
		}
	}

	h2 {
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 1px;

		@media (max-width: #{$md}) {
			font-size: 20px;
		}

		@media (max-width: #{$lg}) {
			font-size: 25px;
		}
	}

	h3 {
		font-weight: 600;
		text-transform: uppercase;

		@media (max-width: #{$md}) {
			font-size: 18px;
		}

		@media (max-width: #{$lg}) {
			font-size: 22px;
		}
	}

	p {
		font-weight: 600;

		@media (max-width: #{$md}) {
			font-size: 12px;
		}
	}

	.button {
		min-width: 160px;
		background-color: $blue-900;
		color: #fff;
	}

	&__image {
		overflow: hidden;

		img {
			height: 100%;
			object-fit: cover;
		}
	}

	&__project {
		h5 {
			display: inline-block;
			margin-bottom: 5px;
			font-size: 16px;
			font-weight: 600;
			border-bottom: 2px solid $blue-900;
			text-transform: uppercase;
		}

		p {
			font-size: 11px;
		}
	}

	&__watermark {
		font-size: 40px;
	}

	/* SECTION OVERRIDES */

	@media (min-width: #{$md}) {
		text-align: right;
	}

	&--reversed {
		text-align: right;

		@media (min-width: #{$md}) {
			text-align: left;
		}

		.row {
			flex-direction: row-reverse;
		}

		.container--padding {
			@media (min-width: #{$xl}) {
				padding-left: multiply($gutter, 2);
				padding-right: 25%;
			}
		}
	}

	&--dark {
		background-color: $blue-900;

		h2,
		h5,
		p {
			color: $white-200;
		}

		h3 {
			color: $white-200;
		}

		h5 {
			border-color: $white-200;
		}

		.button {
			background-color: $white-200;
			color: $blue-900;
		}
	}

	&--video {
		overflow: hidden;

		.container--padding {
			position: relative;
			z-index: 2;

			@media (min-width: #{$xl}) {
				padding-left: 50%;
			}
		}

		&.section--reversed .container--padding {
			@media (min-width: #{$xl}) {
				padding-left: $gutter;
				padding-right: 50%;
			}
		}

		.col {
			position: relative;

			&::before {
				content: '';
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				background-color: rgba(0, 0, 0, 0.5);
				backdrop-filter: blur(5px);
				z-index: 2;
			}
		}

		video {
			width: 100%;
			max-width: 100%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 1;
		}
	}
}
